[*]
charset = utf-8
continuation_indent_size = 1
curly_bracket_next_line = false
end_of_line = lf
indent_style = tab
insert_final_newline = true
max_line_length = 100
spaces_around_brackets = false
spaces_around_operators = true
trim_trailing_whitespace = true
