version: 2.1

commands:
  setup:
    description: "Set up the repo to work on"
    parameters:
      key:
        type: string
    steps:

      - run:
          name: Install yarn
          command: yarn global add yarn@1.12.3

      - checkout

      - restore_cache:
          keys:
          - v5-dependencies-<< parameters.key >>-{{ checksum "yarn.lock" }}
          - v5-dependencies-<< parameters.key >>-

      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
            - packages/core/node_modules
            - packages/tools/node_modules
          key: v5-dependencies-<< parameters.key >>-{{ checksum "yarn.lock" }}

      - run:
          name: Add npm bin to path
          command: echo 'export PATH="$(npm bin):$PATH"' >> $BASH_ENV

jobs:
  install_macos:
    macos:
      xcode: "9.0"

    working_directory: ~/repo

    # Work around https://github.com/yarnpkg/yarn/issues/2423
    steps:
      - checkout

      - run:
          name: Install yarn
          command: yarn global add yarn@1.12.3

      - restore_cache:
          keys:
          - v5-dependencies-macos-{{ checksum "yarn.lock" }}
          - v5-dependencies-macos-

      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile || yarn

      - save_cache:
          paths:
            - node_modules
            - packages/core/node_modules
            - packages/tools/node_modules
          key: v5-dependencies-macos-{{ checksum "yarn.lock" }}

      - run:
          name: Add npm bin to path
          command: echo 'export PATH="$(npm bin):$PATH"' >> $BASH_ENV

  test:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run: lerna run test --stream

  lint:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run:
          lint: Lint code
          command: lerna run lint --stream

  compile:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run: lerna run compile --stream

      - persist_to_workspace:
          root: packages/core
          paths:
              - build

  ncc:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run: lerna run compile:ncc --stream

      - persist_to_workspace:
          root: packages/core
          paths:
              - nccbuild

  bundle:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run: lerna run bundle --stream

      - persist_to_workspace:
          root: packages/core
          paths:
              - build/scripts

  static:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: packages/core

      - run: lerna run static --stream
      - run: alva-deploy --project packages/core/.static

  trigger:
    docker:
      - image: circleci/node:8

    steps:
      - setup:
          key: linux

      - run:
          name: Trigger Release
          command: alva-trigger --project packages/core

      - persist_to_workspace:
          root: packages/core
          paths:
              - package.ncc.json

  macos:
    macos:
      xcode: "9.0"

    working_directory: ~/repo

    steps:
      - setup:
          key: macos

      - attach_workspace:
          at: packages/core

      - run:
          name: List files
          command: ls -la

      - run:
          name: Copy Scripts
          command: lerna run copy:scripts

      - run:
          name: Publish Release
          command: alva-release --project packages/core/nccbuild

  linux:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: packages/core

      - run:
          name: List files
          command: ls -la

      - run:
          name: Copy Scripts
          command: lerna run copy:scripts

      - run:
          name: Publish Release
          command: alva-release --project packages/core/nccbuild

  windows:
    docker:
      - image: electronuserland/builder:wine

    working_directory: ~/repo

    steps:
      - setup:
          key: windows

      - attach_workspace:
          at: packages/core

      - run:
          name: List files
          command: ls -la

      - run:
          name: Copy Scripts
          command: lerna run copy:scripts

      - run:
          name: Publish Release
          command: alva-release --project packages/core/nccbuild -- --win


workflows:
  version: 2
  build:
    jobs:
      - trigger
      - install_macos
      - test
      - lint
      - bundle
      - compile
      - ncc
      - static:
          requires:
            - test
            - lint
            - compile
            - bundle
      - macos:
          requires:
            - install_macos
            - test
            - lint
            - ncc
            - bundle
            - trigger
      - linux:
          requires:
            - test
            - lint
            - ncc
            - bundle
            - trigger
      - windows:
          requires:
            - test
            - lint
            - ncc
            - bundle
            - trigger
