version: 2.1

commands:
  build_electron:
    description: "Perform an electron-build of @meetalva/core"
    parameters:
        args:
          type: string
    steps:
      - run:
          name: Copy Scripts
          command: lerna run copy:scripts --stream

      - run:
          name: Copy Vendors
          command: lerna run copy:vendor --stream

      - run:
          name: Publish Release
          command: alva-release --project packages/core/nccbuild << parameters.args >>

  setup:
    description: "Set up the repo to work on"
    parameters:
      key:
        type: string
    steps:

      - run:
          name: Install yarn
          command: yarn global add yarn@1.12.3

      - checkout

      - restore_cache:
          keys:
          - v5-dependencies-<< parameters.key >>-{{ checksum "yarn.lock" }}
          - v5-dependencies-<< parameters.key >>-

      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
            - packages/analyzer/node_modules
            - packages/components/node_modules
            - packages/core/node_modules
            - packages/essentials/node_modules
            - packages/message/node_modules
            - packages/model/node_modules
            - packages/model-tree/node_modules
            - packages/site/node_modules
            - packages/tools/node_modules
            - packages/types/node_modules
            - packages/util/node_modules
          key: v5-dependencies-<< parameters.key >>-{{ checksum "yarn.lock" }}

      - run:
          name: Add npm bin to path
          command: echo 'export PATH="$(npm bin):$PATH"' >> $BASH_ENV

jobs:
  install_macos:
    macos:
      xcode: "9.0"

    working_directory: ~/repo

    # Work around https://github.com/yarnpkg/yarn/issues/2423
    steps:
      - checkout

      - run:
          name: Install yarn
          command: yarn global add yarn@1.12.3

      - setup:
          key: macos

      - run:
          name: Add npm bin to path
          command: echo 'export PATH="$(npm bin):$PATH"' >> $BASH_ENV

  deps:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Check dependencies
          command: lerna run check:dependencies --stream

  test:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Run unit tests
          command: yarn jest --maxWorkers 4

  lint:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run:
          lint: Lint code
          command: lerna run lint --stream

  compile:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run:
          name: Compile with tsc
          command: yarn tsc -b -v

      - persist_to_workspace:
          root: ~/repo
          paths:
              - packages/analyzer/lib
              - packages/components/lib
              - packages/core/lib
              - packages/essentials/lib
              - packages/message/lib
              - packages/model/lib
              - packages/model-tree/lib
              - packages/site/lib
              - packages/tools/lib
              - packages/types/lib
              - packages/util/lib

  ncc:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Compile with ncc
          command: lerna run compile:ncc --stream

      - persist_to_workspace:
          root: ~/repo
          paths:
              - packages/core/nccbuild

  bundle:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Create browser scripts
          command: yarn webpack

      - persist_to_workspace:
          root: ~/repo
          paths:
              - packages/core/lib/scripts

  static:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Create static build
          command: yarn alva --out=.static --host=static

      - run:
          name: Deploy to static hosting
          command: alva-deploy --prefix=alva --project .static

  trigger:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - run:
          name: Trigger Release
          command: alva-trigger --project packages/core

      - persist_to_workspace:
          root: ~/repo
          paths:
              - packages/core/package.ncc.json

  macos:
    macos:
      xcode: "9.0"

    working_directory: ~/repo

    steps:
      - setup:
          key: macos

      - attach_workspace:
          at: ~/repo

      - build_electron:
          args: ''

  linux:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Copy Scripts
          command: lerna run copy:scripts

      - build_electron:
          args: ''

  windows:
    docker:
      - image: electronuserland/builder:wine

    working_directory: ~/repo

    steps:
      - setup:
          key: windows

      - attach_workspace:
          at: ~/repo

      - build_electron:
          args: '-- --win'

  site:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Remove dev data
          command: rm packages/site/src/releases-data.ts

      - run:
          name: Fetch release data
          command: alva-trigger --dry-run --project=packages/core --data=packages/site/src/releases-data.ts && cat packages/site/src/releases-data.ts

      - run:
          name: Compile release data
          command: yarn tsc packages/site/src/releases-data.ts --outDir packages/site/lib/

      - run:
          name: Create static site
          command: NODE_DENV=production patternplate build --out=./.static --base=/

      - run:
          name: Deploy to static hosting
          command: alva-deploy --prefix=alva-site --project .static

  site_master:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - setup:
          key: linux

      - attach_workspace:
          at: ~/repo

      - run:
          name: Remove dev data
          command: rm packages/site/src/releases-data.ts

      - run:
          name: Fetch release data
          command: alva-trigger --dry-run --project=packages/core --data=packages/site/src/releases-data.ts && cat packages/site/src/releases-data.ts

      - run:
          name: Compile release data
          command: yarn tsc packages/site/src/releases-data.ts --outDir packages/site/lib/

      - run:
          name: Create static site
          command: patternplate build --out=./.static --base=/

      - run:
          name: Deploy to static hosting
          command: surge .static https://meetalva.io

workflows:
  version: 2
  build:
    jobs:
      - trigger
      - install_macos
      - lint
      - compile
      - deps:
          requires:
            - compile
      - test:
          requires:
            - compile
      - bundle:
          requires:
            - compile
      - site:
          requires:
            - compile
            - macos
            - linux
            - windows
          filters:
             branches:
                ignore:
                   - master
      - site_master:
          requires:
            - compile
            - macos
            - linux
            - windows
          filters:
             branches:
                only:
                   - master
      - ncc:
          requires:
            - trigger
            - compile
      - static:
          requires:
            - test
            - lint
            - compile
            - bundle
      - macos:
          requires:
            - install_macos
            - test
            - lint
            - ncc
            - bundle
      - linux:
          requires:
            - test
            - lint
            - ncc
            - bundle
      - windows:
          requires:
            - test
            - lint
            - ncc
            - bundle
